#page {
    width: 66%;
    margin: auto;
    margin-top: 15%;
}

body {
    font: 18px/1.5 monospace;
    padding: 0;
    background-color: rgb(253, 246, 227);
    color: rgb(101, 123, 131);
    text-align: center;
    transition: ease;
    transition-duration: 333ms;
}

body

ul{
    padding: 0;
}
.container {
    overflow: hidden;
}

.contact li {
    text-align: center;
    display: inline;
    font-size: 32px;
}

.contact a{
    text-decoration: none;
    color: inherit;
}

section a :hover{
    color: rgb(38, 139, 210);
}


footer {
    width: 66%;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    text-align: center;
}

footer input{
    appearance: none;
    -moz-appearance: none;
}

.light-switch{
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: inline-flex;
    height: 8px;
    width: 8px;
    border-radius: 2px;
    background-color: rgb(101, 123, 131);
}

.light-switch:hover {
    background-color: rgb(0, 43, 54);
}

.light-switch:checked:hover {
    background-color: rgb(253, 246, 227);
}

